<span ng-controller="rollingFilter"><select>
    <option value="19">All</option>
    <option value="1">Last Day</option>
    <option value="2">Last 7 Days</option>
    <option value="3">Last 30 Days</option>
    <option value="4">Last 90 Days</option>
    <option value="5">Last 365 Days</option>
    <option value="6">Today</option>
    <option value="7">Week to Date</option>
    <option value="8">Month to Date</option>
    <option value="9">Quarter to Date</option>
    <option value="10">Year to Date</option>
    <option value="12">Last Full Day</option>
    <option value="13">Last Full Week</option>
    <option value="14">Last Full Month</option>
    <option value="18">Custom</option>
    <option ng-repeat="interval in filter.custom_intervals"></option>
    <!--<option value="<%= e.interval %>"<% if(data.interval_type == e.interval) { %> selected="selected"<% } %>><%- e.name %></option>-->
</select></span>