<div cg-busy="deleting" />
<div style="padding:10px;font-size: 16px">
    <div style="padding:5px;margin-bottom:20px" class="alert-danger">Are you sure you want to remove the following reports from Top Reports and Dashboards?</div>
    <ul>
        <li ng-repeat="report in to_delete"> {{ report.name }}</li>
    </ul>

    <div style="text-align: center">
        <button ng-click="confirmDelete()" class="btn btn-danger">Delete Selected</button> <button ng-click="$dismiss()" class="btn btn-default">Cancel</button>
    </div>
</div>