<div cg-busy="loading" />
<div cg-busy="upload" />
<div ng-if="saved" class="alert alert-success">Saved!</div>
<form role="form" method="POST" name="skinForm" ng-submit="submit()" novalidate ng-file-drop-available="dropSupported=true">
    <input type="checkbox" id="report_header_checkbox" ng-model="skin.report_header" /><label for="report_header_checkbox">Do you want to define a custom header for reports and dashboards?</label>
    <p>Images:</p>
    <div class="row">
        <div class="col-md-3">
            <p><input id="image_none" type="radio" ng-disabled="!skin.report_header"  name="header_image" ng-model="skin.background_image" value="0" /> <label for="image_none">None</label></p>
            <div ng-repeat="image in images">
                <p><input type="radio" name="header_image" ng-disabled="!skin.report_header"  ng-model="skin.background_image" id="image_{{image.id}}" value="{{image.id}}" /> <label for="image_{{image.id}}">{{image.name}}</label></p>
            </div>
        </div>
        <div class="col-md-9">
            <img style="max-height:200px;max-width: 200px;" ng-if="skin.background_image > 0" src="/app/image/{{ skin.background_image }}" />
        </div>
    </div>
    <input type="file" accept="image/*" capture="camera" ng-disabled="!skin.report_header"  ng-file-select="onFileSelect($files)">
    <div ng-file-drop="onFileSelect($files)" ng-show="dropSupported" class="droppable_area" ng-file-drag-over-class="'droppable_files'">drop files here</div>
    <div eicolorform text="'Background Color'" enabledfielddisabled="true" field="skin.header_background_color" disabledfield="!skin.report_header"></div>
    <div eicolorform text="'Text Color'" enabledfielddisabled="true" field="skin.header_text_color" disabledfield="!skin.report_header"></div>
    <div class="form-group">
        <input type="submit" value="Save" ng-disabled="skinForm.$invalid"/>
    </div>
</form>