<div cg-busy="loading" />
<div ng-if="saved" class="alert alert-success">Saved!</div>
<form role="form" method="POST" name="settingsForm" ng-submit="submit()" novalidate>
    <div class="form-group">
        <label for="locale">Locale</label>
        <select id="locale" class="form-control" name="locale" ng-model="settings.locale">
            <option value="EN">US/America</option>
            <option value="ES">Spain</option>
        </select>
    </div>
    <div class="form-group">
        <label for="date_formatting">Date Formatting</label>
        <select id="date_formatting" class="form-control" ng-model="settings.date_format">
            <option value="0">MM/DD/YYYY (04/26/2014)</option>
            <option value="1">YYYY-MM-DD (2014-04-26)</option>
            <option value="2">DD-MM-YYYY (26-04-2014)</option>
            <option value="3">DD/MM/YYYY (26/04/2014)</option>
            <option value="4">DD.MM.YYYY (26.04.2014)</option>
        </select>
    </div>

    <div class="form-group">
        <label for="currency_symbol">Currency Symbol</label>
        <input id="currency_symbol" name="currency_symbol" type="text" class="form-control" ng-model="settings.currency_symbol" />
    </div>
    <div class="form-group">
        <label for="first_day_of_week">First Day of Week</label>
        <select class="form-control" id="first_day_of_week" ng-model="settings.first_day_of_week">
            <option value="1">Sunday</option>
            <option value="2">Monday</option>
            <option value="3">Tuesday</option>
            <option value="4">Wednesday</option>
            <option value="5">Thursday</option>
            <option value="6">Friday</option>
            <option value="7">Saturday</option>
        </select>
    </div>
    <div class="form-group">
        <label for="max_rows">Default Max Rows for List Reports</label>
        <input type="number" id="max_rows" class="form-control" ng-model="settings.max_rows"/>
    </div>
    <div class="form-group">
        <label for="new_user_email"><input type="checkbox" id="new_user_email" ng-model="settings.send_email" /> Send Email to New Users</label>
    </div>
    <div class="form-group">
        <label for="html_view"><input type="checkbox" id="html_view" ng-model="settings.html_view" /> Default to HTML View</label>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" ng-disabled="settingsForm.$invalid"/>
    </div>
</form>