<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <display-name>app</display-name>
    <description>Application</description>

    <!-- Http Flex Session attribute and binding listener support -->
    <listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>

    <servlet>
        <servlet-name>cxf</servlet-name>
        <display-name>cxf</display-name>
        <description>Apache CXF Endpoint</description>
        <servlet-class>com.easyinsight.servlet.EICXFServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DMS</servlet-name>
        <display-name>DMS</display-name>
        <servlet-class>com.easyinsight.servlet.DMSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Benchmark</servlet-name>
        <display-name>Benchmark</display-name>
        <servlet-class>com.easyinsight.benchmark.BenchmarkServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>TokenRedirect</servlet-name>
        <display-name>TokenRedirect</display-name>
        <servlet-class>com.easyinsight.users.TokenRedirectServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UnsubscribeServlet</servlet-name>
        <display-name>UnsubscribeServlet</display-name>
        <servlet-class>com.easyinsight.users.UnsubscribeServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>AccountActivation</servlet-name>
        <display-name>AccountActivation</display-name>
        <servlet-class>com.easyinsight.servlet.AccountActivationServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Image</servlet-name>
        <display-name>Image</display-name>
        <servlet-class>com.easyinsight.export.ImageServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>HtmlImage</servlet-name>
        <display-name>HtmlImage</display-name>
        <servlet-class>com.easyinsight.export.HTMLImageServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Excel</servlet-name>
        <display-name>Excel</display-name>
        <servlet-class>com.easyinsight.export.ExcelServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>PDF</servlet-name>
        <display-name>PDF</display-name>
        <servlet-class>com.easyinsight.export.PDFServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DefineDataSource</servlet-name>
        <display-name>DefineDataSource</display-name>
        <servlet-class>com.easyinsight.api.v3.DefineDataSourceServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DefineCompositeDataSource</servlet-name>
        <display-name>DefineCompositeDataSource</display-name>
        <servlet-class>com.easyinsight.api.v3.DefineCompositeDataSourceServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ReplaceRows</servlet-name>
        <display-name>ReplaceRows</display-name>
        <servlet-class>com.easyinsight.api.v3.ReplaceRowsServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>AddRows</servlet-name>
        <display-name>AddRows</display-name>
        <servlet-class>com.easyinsight.api.v3.AddRowsServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UpdateRows</servlet-name>
        <display-name>UpdateRows</display-name>
        <servlet-class>com.easyinsight.api.v3.UpdateRowsServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>RunReport</servlet-name>
        <display-name>RunReport</display-name>
        <servlet-class>com.easyinsight.api.v3.RunReportServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Commit</servlet-name>
        <display-name>Commit</display-name>
        <servlet-class>com.easyinsight.api.v3.CommitServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>BeginTransaction</servlet-name>
        <display-name>BeginTransaction</display-name>
        <servlet-class>com.easyinsight.api.v3.BeginTransactionServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LoadRows</servlet-name>
        <display-name>LoadRows</display-name>
        <servlet-class>com.easyinsight.api.v3.LoadRowsServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Health</servlet-name>
        <display-name>Health</display-name>
        <servlet-class>com.easyinsight.api.v3.HealthServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>OAuth</servlet-name>
        <display-name>OAuth</display-name>
        <servlet-class>com.easyinsight.users.OAuthServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <!-- MessageBroker Servlet -->
    <servlet>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <display-name>MessageBrokerServlet</display-name>
        <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
        <init-param>
            <param-name>services.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
       </init-param>
        <init-param>
            <param-name>flex.write.path</param-name>
            <param-value>/WEB-INF/flex</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SnappCloudValidateUser</servlet-name>
        <servlet-class>com.easyinsight.servlet.snappcloud.ValidateUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SnappCloudCreateUser</servlet-name>
        <servlet-class>com.easyinsight.servlet.snappcloud.CreateUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SnappCloudCancelUser</servlet-name>
        <servlet-class>com.easyinsight.servlet.snappcloud.CancelUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SnappCloudValidateUser</servlet-name>
        <url-pattern>/validateUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SnappCloudCreateUser</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SnappCloudCancelUser</servlet-name>
        <url-pattern>/cancelUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TokenRedirect</servlet-name>
        <url-pattern>/TokenRedirect</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DefineDataSource</servlet-name>
        <url-pattern>/xml/defineDataSource</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DefineCompositeDataSource</servlet-name>
        <url-pattern>/xml/defineCompositeDataSource</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReplaceRows</servlet-name>
        <url-pattern>/xml/replaceRows</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddRows</servlet-name>
        <url-pattern>/xml/addRows</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateRows</servlet-name>
        <url-pattern>/xml/updateRows</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BeginTransaction</servlet-name>
        <url-pattern>/xml/beginTransaction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Commit</servlet-name>
        <url-pattern>/xml/commit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoadRows</servlet-name>
        <url-pattern>/xml/loadRows</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RunReport</servlet-name>
        <url-pattern>/xml/RunReport</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Health</servlet-name>
        <url-pattern>/admin/health</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UnsubscribeServlet</servlet-name>
        <url-pattern>/unsubscribe</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HtmlImage</servlet-name>
        <url-pattern>/htmlimage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Excel</servlet-name>
        <url-pattern>/excel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccountActivation</servlet-name>
        <url-pattern>/accountactivation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PDF</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OAuth</servlet-name>
        <url-pattern>/oauth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cxf</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>6000000</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
