<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

    <display-name>app</display-name>
    <description>Application</description>

    <listener>
        <listener-class>com.easyinsight.servlet.EIContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>loginPage</param-name>
        <param-value>/login.jsp</param-value>
    </context-param>

    <context-param>
        <param-name>Owasp.CsrfGuard.Config</param-name>
        <param-value>/WEB-INF/classes/Owasp.CsrfGuard.properties</param-value>
    </context-param>

    <context-param>
        <param-name>Owasp.CsrfGuard.Config.Print</param-name>
        <param-value>true</param-value>
    </context-param>

    <filter>
        <filter-name>CSRFGuard</filter-name>
        <filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>
         <async-supported>true</async-supported>
    </filter>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
         <async-supported>true</async-supported>
        <!--<init-param>-->
        <!--<param-name>logLevel</param-name>-->
        <!--<param-value>DEBUG</param-value>-->
        <!--</init-param>-->
    </filter>

    <filter-mapping>
        <filter-name>CSRFGuard</filter-name>
        <url-pattern>/loginAction.jsp</url-pattern>
        <url-pattern>/forgotPasswordAction.jsp</url-pattern>
        <url-pattern>/newaccount/accountCreation.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Http Flex Session attribute and binding listener support -->
    <listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>

    <listener>
        <listener-class>org.owasp.csrfguard.CsrfGuardServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>OwaspJavaScriptServlet</servlet-name>
        <servlet-class>org.owasp.csrfguard.servlet.JavaScriptServlet</servlet-class>
        <init-param>
            <param-name>source-file</param-name>
            <param-value>/WEB-INF/classes/Owasp.CsrfGuard.js</param-value>
        </init-param>
        <init-param>
            <param-name>inject-into-forms</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>inject-into-attributes</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>domain-strict</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>referer-pattern</param-name>
            <param-value>((.*localhost.*)|(.*staging\.easy-insight\.com.*)|(.*\.easy-insight\.com.*))</param-value>
        </init-param>
    </servlet>

    <!-- MessageBroker Servlet -->
    <servlet>
        <display-name>MessageBrokerServlet</display-name>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <servlet-class>com.easyinsight.servlet.EIFlex</servlet-class>
        <init-param>
            <param-name>services.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>flex.write.path</param-name>
            <param-value>/WEB-INF/flex</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>

    <servlet>
        <servlet-name>OpenIDServlet</servlet-name>
        <servlet-class>com.easyinsight.users.OpenIDServlet</servlet-class>
        <init-param>
            <param-name>home_path</param-name>
            <param-value>/app/</param-value>
        </init-param>
        <init-param>
            <param-name>return_to_path</param-name>
            <param-value>/openid</param-value>
        </init-param>
        <init-param>
            <param-name>realm</param-name>
            <param-value>https://www.easy-insight.com/</param-value>
        </init-param>
         <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>OpenIDServlet</servlet-name>
        <url-pattern>/openid</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OwaspJavaScriptServlet</servlet-name>
        <url-pattern>/owasp.js</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>6000000</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/serverError.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFound.jsp</location>
    </error-page>

</web-app>
