<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <display-name>app</display-name>
    <description>Application</description>

    <!-- Http Flex Session attribute and binding listener support -->
    <listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>

    <servlet>
        <servlet-name>cxf</servlet-name>
        <display-name>cxf</display-name>
        <description>Apache CXF Endpoint</description>
        <servlet-class>com.easyinsight.servlet.EICXFServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DMS</servlet-name>
        <display-name>DMS</display-name>
        <servlet-class>com.easyinsight.servlet.DMSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Benchmark</servlet-name>
        <display-name>Benchmark</display-name>
        <servlet-class>com.easyinsight.benchmark.BenchmarkServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>GoalTask</servlet-name>
        <display-name>GoalTask</display-name>
        <servlet-class>com.easyinsight.goals.GoalTaskServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>TokenRedirect</servlet-name>
        <display-name>TokenRedirect</display-name>
        <servlet-class>com.easyinsight.users.TokenRedirectServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UnsubscribeServlet</servlet-name>
        <display-name>UnsubscribeServlet</display-name>
        <servlet-class>com.easyinsight.users.UnsubscribeServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- MessageBroker Servlet -->
    <servlet>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <display-name>MessageBrokerServlet</display-name>
        <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
        <init-param>
            <param-name>services.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
       </init-param>
        <init-param>
            <param-name>flex.write.path</param-name>
            <param-value>/WEB-INF/flex</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>QuickBooksSubscribe</servlet-name>
        <servlet-class>com.easyinsight.servlet.QuickBooksSubscribe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickBooksChange</servlet-name>
        <servlet-class>com.easyinsight.servlet.QuickBooksChange</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TokenRedirect</servlet-name>
        <url-pattern>/TokenRedirect</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UnsubscribeServlet</servlet-name>
        <url-pattern>/unsubscribe</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cxf</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>6000000</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>

</web-app>
