
<div>

    <script type="text/template" id="configuration_dropdown_template">
        <a class="reportControl dropdown-toggle" data-toggle="dropdown" href="#">
            <% if(typeof(dashboard.configuration_name) != "undefined") { %> <%- dashboard.configuration_name %> <% } else { %>Configurations <% } %>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <% if(typeof(user.designer) != "undefined" && user.designer) {
                    if(typeof(dashboard.configuration_key) != "undefined") { %>
                    <li><a href="#" class="save-current-configuration">Save Configuration</a></li>
                    <li><a href="#save-as-modal" data-toggle="modal">Save As...</a></li>
            <% } else { %>
                <li><a href="#save-as-modal" data-toggle="modal" class="save-as-configuration">Save Configuration</a></li>
            <% } } %>
            <% _.each(dashboard.configurations, function(e, i, l) { %>
                <li>
                    <a href="/app/html/<% if(dashboard.id == -1) { %>report<% } else { %>dashboard<% } %>/<%- dashboard.key %>/config/<%- e.url %>"><span class="glyphicon<% if(typeof(dashboard.configuration_key) != "undefined" && dashboard.configuration_key == e.url) { %> glyphicon-ok<% } %>"></span> <%- e.name %> <% if(typeof(user.designer) != "undefined" && user.designer) { %><span style="float:right;" class="delete-config glyphicon glyphicon-remove"></span> <% } %></a></div>
                </li>
            <% }); %>
            <li>
                <a class="restore_default_config" href="/app/html/dashboard/<%- dashboard.key %>">Restore Default</a>
            </li>
        </ul>
        <div id="save-as-modal" class="modal save-as-modal-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Save as...
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="save-as-config-name" type="text" placeholder="Name..." class="form-control" />
                        </div>

                        <div class="form-group">
                                <button class="btn btn-inverse save-as-config-btn">
                                    Save
                                </button>
                                <button class="btn btn-inverse" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>

    </script>

    <script type="text/template" id="stack">
        <% if(stack_items.length == 1) { %>
            <%= Filter.filters({filter_values: filters, parent_id: id, type: "stack"}) %>
            <%= dashboardComponent(stack_items[0].item) %>
        <% } else { %>
        <div class="tabbable">
            <ul class="nav nav-pills dashboardStackNav" id="<%- id %>" style="text-align:center;">
                <% _.each(stack_items, function(e, i, l) { %>
                <li<%- i == selected ? ' class=active' : '' %>>
                <a class="argh" data-toggle="tab" href="#stack_<%- id %>_<%- e.item.id %>"><%- (typeof(e.label) ==
                    "undefined" || e.label == "") ? ("Stack Item " + i) : e.label %></a>
                </li>
                <% }) %>
            </ul>
            <%= Filter.filters({filter_values: filters, parent_id: id, type: "stack"}) %>
            <div class="tab-content">

                <% _.each(stack_items, function(e, i, l) { %>
                <div id="stack_<%- id %>_<%- e.item.id %>" class="tab-pane<%- i == selected ? ' active' : '' %>">
                    <%= dashboardComponent(e.item) %>
                </div>
                <% }) %>
            </div>
        </div>
        <% } %>
    </script>

    <script type="text/template" id="grid">
        <% var autoSize = _.every(grid, function(e, i, l) {
            return _.every(e, function(f, j, m) {
                return typeof(f.preferredWidth) == "undefined";
            });
        }) %>
        <%= Filter.filters({ filter_values: filters, parent_id: id, type: "grid" }) %>
        <div class="container">
            <% if(show_label) { %>
            <% var clickable_grid = _.any(grid, function(e, i, l) {
                return _.any(e, function(f, i, l) {
                return f["type"] == "report";
            })
            }); %>
            <div>
            <div class="row col-md-12 grid_header<% if(clickable_grid) { %> clickable_grid<% } %>">
                <%- label %>
            </div>
            <% if(clickable_grid){%>
                <div class="reportMenuBase">
            <div class="reportMenu">
                <% _.each(grid, function(e, i, l) { %>
                <div class="row">
                <%
                    var span_size = Math.floor(12.0 / e.length);
                    _.each(e, function(f, i, l) { %>
                    <div class="col-md-<%= span_size %>">
                    <% if(f["type"] == "report") {
                    %>
                   <a href="#" class="grid_report_link" data-ref="<%= id %>_<%= f.id %>"><span class="<%= f.id %>_name"><%- f.report.name %></span></a>
                <% } %> </div>
                <% }) %>
                </div>
                <% }) %>
            </div>
                    <%
                    _.each(grid, function(e, i, l) {
                        _.each(e, function(f, i, l) {
                        if(f["type"] == "report") {
                        %>
                        <div class="gridReportMenu" id="<%= id %>_<%= f.id %>" data-report-target="<%= f.id %>"><span class="<%= f.id %>_name"><%- f.report.name %></span>:
                            <div class="btn-group report-dropdown-btn">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Reports <span class="caret"></span></a>
                                <ul class="dropdown-menu report-dropdown">

                                </ul>

                            </div>
                            <% if(location.pathname.match(/^\/app\/html\/(report|dashboard)\/[a-zA-Z0-9]+/)) { %>
                            <a href="/app/html/report/<%= f.report.metadata.key %>" class="btn btn-default navigate-button">Navigate</a>
                            <% } %>
                            <div class="btn-group">
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Export <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/app/exportExcel?reportID=<%= f.report.metadata.key %>"><button class="btn btn-inverse">Export to Excel</button></a></li>
                                        <li><a href="#" class="emailReportButton" data-key="<%= f.report.metadata.key %>"><button class="btn btn-inverse">Email Report</button></a></li>
                                    </ul>
                            </div>
                            <a class="grid_back_button" href="#"><button class="btn btn-default">Back</button></a></div>
                    <%}

                    })

                    }) %>
            </div>
            <% } %>
            </div>
            <% } %>
            <% _.each(grid, function(e, i, l) { %>
            <div class="row">
                <% _.each(e, function(a, j, m) { %>
                <div class="dashboard_grid<% if(autoSize) { %> col-md-<%- Math.floor(12 / e.length) %><% } %>">
                    <%= dashboardComponent(a) %>
                </div>
                <% }) %>
            </div>
            <% }) %>
        </div>
    </script>

    <script type="text/template" id="report_template">
        <div id="<%= data.id %>" data-report-target="<%= data.id %>">
            <%= fullReportTemplate(data) %>
        </div>
    </script>


        <script type="text/template" id="report_full_template">
            <% if(show_label) { %>
                    <div>
                        <div class="dashboardReportHeader"><%- report.name %></div>

                        <div class="reportMenu">
                            <div class="btn-group report-dropdown-btn">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Reports <span class="caret"></span></a>
                                <ul class="dropdown-menu report-dropdown">

                                </ul>

                            </div>
                            <% if(location.pathname.match(/^\/app\/html\/(report|dashboard)\/[a-zA-Z0-9]+/)) { %>
                            <a href="/app/html/report/<%= report.metadata.key %>" class="btn btn-default navigate-button">Navigate</a>
                            <% } %>
                            <div class="btn-group">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Export <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/app/exportExcel?reportID=<%= report.metadata.key %>"><button class="btn btn-inverse">Export to Excel</button></a></li>
                                    <li><a href="#" class="emailReportButton" data-key="<%= report.metadata.key %>"><button class="btn btn-inverse">Email Report</button></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <%= Filter.filters({ filter_values: report.metadata.filters, parent_id: id, type: "report" }) %>
                    <div>

                        <div class="dashboardReportDiv" id="<%= id %>">
                            <% if(report.metadata.adhoc_execution) { %>
                                <button class="adhoc btn btn-inverse">Run the Report</button>
                            <% } %>
                            <div class="reportArea" id="<%= id %>ReportArea"<%
                            if(typeof(preferredHeight) != "undefined" || typeof(preferredWidth) != "undefined") { %> style="<% if(typeof(preferredHeight) != "undefined") { %>height:<%- preferredHeight %>px;<% } %><%
                            if(typeof(preferredWidth) != "undefined") { %>width:<%- preferredWidth %>px;<% } %>"<% } %>></div>
                            <div class="noData" style="display:none">
                                There is no data available for the combination of filters you have selected.
                            </div>
                            <div class="reportError" style="display:none">
                                We're sorry, but something went wrong in retrieving data for this report.
                            </div>
                            <div class="loading" <% if(report.metadata.adhoc_execution) { %>style="display:none"<% } %>>
                                <div class="loadingText">
                                    Loading the report...
                                </div>
                                <div class="progress progress-striped active">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                            </div>
                            <% if(report.metadata.adhoc_execution) { %>
                                <div class="adhoc_instructions">
                                    Adjust the filters to match your desired search and click the Run the Report button to actually retrieve data for this report.
                                </div>
                            <% } %>
                        </div>
                    </div>
        </script>

<script type="text/template" id="text_template">
    <% var vCenter = typeof(preferredHeight) != "undefined"; %>
    <div class="dashboard_text<%if(vCenter) { %> dashboard_text_valign<% } %>"<%
    if(typeof(preferredHeight) != "undefined" || typeof(preferredWidth) != "undefined") { %> style="<% if(typeof(preferredHeight) != "undefined") { %>height:<%- preferredHeight %>px;<% } %><%
    if(typeof(preferredWidth) != "undefined") { %>width:<%- preferredWidth %>px;<% } %>"<% } %>>
    <% if(vCenter) {%><div class="inner_dashboard_text"><% } %>
    <% _.each(item.split("\r"), function(e, i, l) { %>
    <%- e %> <br/>
    <% }) %>
        <%if(vCenter){%></div><% } %>
    </div>
</script>


<script type="text/template" id="single_value_filter_template">
    <div class="filter _<%= type %>_filter_<%= data.id %>">
        <%= Filter.base_filter({data: data, parent_id: parent_id, type: type, type: type}) %>
        <select id="<%= Filter.label(data, parent_id, type) %>" class="single_filter">
            <% _.each(data.values, function(e, i , l) { %>
            <option
            <%= data.selected == e ? ' selected="selected"' : ''%>><%- e == "" ? "[ No Value ]" : e %></option>
            <% }) %>
        </select>
    </div>
</script>

<script type="text/template" id="pattern_filter_template">
    <div class="filter _<%= type %>_filter_<%= data.id %>">
        <%= Filter.base_filter({data: data, parent_id: parent_id, type: type}) %>
        <input id="<%= Filter.label(data, parent_id, type) %>" class="pattern_input" type="text" value="<%- data.pattern %>" />
    </div>
</script>

        <script type="text/template" id="or_filter_template">
            <div class="filter orFilterBox">
                <% _.each(data.filters, function(e, i, l) { %>
                <%= Filter.create(e, parent_id, type) %>
                <% });%>
            </div>
        </script>

<script type="text/template" id="field_filter_template">
    <div class="filter <%= Filter.label(data, parent_id, type) %>">
        <%= Filter.base_filter({data: data, parent_id: parent_id, type: type}) %>
        <select id="<%= Filter.label(data, parent_id, type) %>" class="field_filter">
            <% _.each(data.values, function(e, i , l) { %>
            <option value="<%= e.value %>"
            <%= data.selected == e.value ? ' selected="selected"' : ''%>><%- e.label %></option>
            <% }) %>
        </select>
    </div>
</script>

        <script type="text/template" id="generic_filter">
            <div class="filter <%= Filter.label(data, parent_id, type) %>">
                <%= Filter.base_filter({data: data, parent_id: parent_id, skip_colon: true, type: type }) %>
            </div>
        </script>

        <script type="text/template" id="multi_value_results_template">
            <label class="control-label">Available Values</label>
            <ul class="unstyled">
                <li><input class="cb_all_choice" type="checkbox"<% if(data.selected["All"]) { %>
                    checked="checked"<% } %> />
                    <span class="cb_filter_value">All</span>
                </li>
                <% if(typeof(results.error) == "undefined") { _.each(results.values, function(e,i,l) { %>
                <li><input class="cb_filter_choice" type="checkbox"<% if(data.selected[e] ||
                    data.selected["All"] )
                    { %> checked="checked"<%}%> /> <span class="cb_filter_value"><%- e == "" ? "[ No Value ]" : e %></span>
                </li>
                <% }) } %>
            </ul>
            <% if(results.error) { %>
                <div><%- results.error %></div>
            <% } %>
        </script>

<script type="text/template" id="multi_value_filter_template">
    <div class="filter <%= Filter.label(data, parent_id, type) %>">
        <% var o = toSelectedArray(data.selected); %>

        <%= Filter.base_filter({data: data, parent_id: parent_id, type: type}) %>
        <a href="#<%= Filter.label(data, parent_id, type) %>_modal" data-toggle="modal">
        <button id="<%= Filter.label(data, parent_id, type) %>" class="btn btn-default multi_filter"><% if(data.selected["All"]) { %> All <% } else if(o.length == 1) { %><%-
            o[0] %><% } else { %><%- o.length %> Items<% } %>
        </button>
        </a>

        <div id="<%= Filter.label(data, parent_id, type) %>_modal" class="modal <% if (data.type == "multiple") { %> multi_value_modal <% } else { %> multi_field_value_modal <% } %>">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="Search" placeholder="Search..." class="form-control value-search-input" />
                                <div class="input-group-btn">
                                    <button class="btn btn-info value-search-btn">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="loading-bar" style="display:none;">
                            <div>
                                Loading the filter...
                            </div>
                            <div class="progress progress-striped active">
                              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="form-group multi-value-list">
                            <%= multi_value_results({data: data, results: data}) %>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default multi_value_save" data-dismiss="modal">Save</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>

<script type="text/template" id="rolling_date_filter_template">
    <div class="filter <%= Filter.label(data, parent_id, type) %>"><%= Filter.base_filter({data: data, parent_id: parent_id, type: type}) %>
        <select id="<%= Filter.label(data, parent_id, type) %>_type" class="rolling_filter_type">
            <option value="19"<% if(data.interval_type == "19") { %> selected="selected"<%}%>>All</option>
            <option value="1"<% if(data.interval_type == "1") { %> selected="selected"<%}%>>Last Day</option>
            <option value="2"<% if(data.interval_type == "2") { %> selected="selected"<%}%>>Last 7 Days</option>
            <option value="3"<% if(data.interval_type == "3") { %> selected="selected"<%}%>>Last 30 Days</option>
            <option value="4"<% if(data.interval_type == "4") { %> selected="selected"<%}%>>Last 90 Days</option>
            <option value="5"<% if(data.interval_type == "5") { %> selected="selected"<%}%>>Last 365 Days</option>
            <option value="6"<% if(data.interval_type == "6") { %> selected="selected"<%}%>>Today</option>
            <option value="7"<% if(data.interval_type == "7") { %> selected="selected"<%}%>>Week to Date</option>
            <option value="8"<% if(data.interval_type == "8") { %> selected="selected"<%}%>>Month to Date</option>
            <option value="9"<% if(data.interval_type == "9") { %> selected="selected"<%}%>>Quarter to Date</option>
            <option value="10"<% if(data.interval_type == "10") { %> selected="selected"<%}%>>Year to Date</option>
            <option value="12"<% if(data.interval_type == "12") { %> selected="selected"<%}%>>Last Full Day</option>
            <option value="13"<% if(data.interval_type == "13") { %> selected="selected"<%}%>>Last Full Week</option>
            <option value="14"<% if(data.interval_type == "14") { %> selected="selected"<%}%>>Last Full Month</option>
            <option value="18"<% if(data.interval_type == "18") { %> selected="selected"<%}%>>Custom</option>
            <% _.each(data.custom_intervals, function(e,i,l) { %>
            <option value="<%= e.interval %>"<% if(data.interval_type == e.interval) { %> selected="selected"<% } %>><%- e.name %></option>
            <% }) %>
        </select>
        <span class="custom<% if(data.interval_type != "18") { %> hideFilter<% } %>">
            <select id="<%= Filter.label(data, parent_id, type) %>_custom_direction" class="rolling_filter_direction">
                <option value="0"<% if(data.direction == "0") {%> selected="selected"<% } %>>Last</option>
                <option value="1"<% if(data.direction == "1") {%> selected="selected"<% } %>>Next</option>
                <option value="2"<% if(data.direction == "2") {%> selected="selected"<% } %>>Before</option>
                <option value="3"<% if(data.direction == "3") {%> selected="selected"<% } %>>After</option>
            </select>
            <input id="<%= Filter.label(data, parent_id, type) %>_custom_value" type="text" class="rolling_filter_value" value="<%- data.value %>" />
            <select id="<%= Filter.label(data, parent_id, type) %>_custom_interval" style="margin-left:10px;width:80px" class="rolling_filter_interval">
                <option value="2"<% if(data.interval == "2") { %> selected="selected"<% } %>>Days</option>
                <option value="3"<% if(data.interval == "3") { %> selected="selected"<% } %>>Weeks</option>
                <option value="4"<% if(data.interval == "4") { %> selected="selected"<% } %>>Months</option>
                <option value="5"<% if(data.interval == "5") { %> selected="selected"<% } %>>Years</option>
            </select>
        </span>
    </div>
</script>


<script type="text/template" id="flat_date_month_filter">
    <div class="filter <%= Filter.label(data, parent_id, type) %>">
        <%= Filter.base_filter({data: data, parent_id: parent_id, type: type}) %>
        <select id="<%= Filter.label(data, parent_id, type) %>" class="month_select">
            <option value="0"<% if(data.selected == 0) { %> selected="selected"<% }%>>January</option>
            <option value="1"<% if(data.selected == 1) { %> selected="selected"<% }%>>February</option>
            <option value="2"<% if(data.selected == 2) { %> selected="selected"<% }%>>March</option>
            <option value="3"<% if(data.selected == 3) { %> selected="selected"<% }%>>April</option>
            <option value="4"<% if(data.selected == 4) { %> selected="selected"<% }%>>May</option>
            <option value="5"<% if(data.selected == 5) { %> selected="selected"<% }%>>June</option>
            <option value="6"<% if(data.selected == 6) { %> selected="selected"<% }%>>July</option>
            <option value="7"<% if(data.selected == 7) { %> selected="selected"<% }%>>August</option>
            <option value="8"<% if(data.selected == 8) { %> selected="selected"<% }%>>September</option>
            <option value="9"<% if(data.selected == 9) { %> selected="selected"<% }%>>October</option>
            <option value="10"<% if(data.selected == 10) { %> selected="selected"<% }%>>November</option>
            <option value="11"<% if(data.selected == 11) { %> selected="selected"<% }%>>December</option>
        </select>
    </div>
</script>

<script type="text/template" id="flat_date_year_filter">
    <div class="filter <%= Filter.label(data, parent_id, type) %>">
        <%= Filter.base_filter({data: data, parent_id: parent_id, type: type}) %>
        <select id="<%= Filter.label(data, parent_id, type) %>" class="year_select">
            <% _.each(data.years, function(e, i , l) { %>
                <option<%= data.selected == e ? ' selected="selected"' : ''%>><%- e %></option>
            <% }) %>
        </select>
    </div>
</script>

<script type="text/template" id="multi_flat_date_filter">
    <div class="filter filter<%= data.id %>">
        <%= Filter.base_filter({"data": data, "parent_id": typeof(parent_id) == "undefined" ? '' : parent_id, type: type}) %>
        <a href="#<%= Filter.label(data, parent_id, type) %>_modal" data-toggle="modal">
            <button id="<%= Filter.label(data, parent_id, type) %>" class="btn btn-default multi_flat_month"><%- short_months[data.start] %> to <%- short_months[data.end] %>
            </button>
        </a>
    </div>

    <div id="<%= Filter.label(data, parent_id, type) %>_modal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
        <div class="modal-body">
            <div class="control-group">
                <select class="multi_flat_month_start">
                    <option value="0"<% if(data.start == 0) { %> selected="selected"<% } %>>January</option>
                    <option value="1"<% if(data.start == 1) { %> selected="selected"<% } %>>February</option>
                    <option value="2"<% if(data.start == 2) { %> selected="selected"<% } %>>March</option>
                    <option value="3"<% if(data.start == 3) { %> selected="selected"<% } %>>April</option>
                    <option value="4"<% if(data.start == 4) { %> selected="selected"<% } %>>May</option>
                    <option value="5"<% if(data.start == 5) { %> selected="selected"<% } %>>June</option>
                    <option value="6"<% if(data.start == 6) { %> selected="selected"<% } %>>July</option>
                    <option value="7"<% if(data.start == 7) { %> selected="selected"<% } %>>August</option>
                    <option value="8"<% if(data.start == 8) { %> selected="selected"<% } %>>September</option>
                    <option value="9"<% if(data.start == 9) { %> selected="selected"<% } %>>October</option>
                    <option value="10"<% if(data.start == 10) { %> selected="selected"<% } %>>November</option>
                    <option value="11"<% if(data.start == 11) { %> selected="selected"<% } %>>December</option>
                </select>
                <select class="multi_flat_month_end">
                    <option value="0"<% if(data.end == 0) { %> selected="selected"<% } %>>January</option>
                    <option value="1"<% if(data.end == 1) { %> selected="selected"<% } %>>February</option>
                    <option value="2"<% if(data.end == 2) { %> selected="selected"<% } %>>March</option>
                    <option value="3"<% if(data.end == 3) { %> selected="selected"<% } %>>April</option>
                    <option value="4"<% if(data.end == 4) { %> selected="selected"<% } %>>May</option>
                    <option value="5"<% if(data.end == 5) { %> selected="selected"<% } %>>June</option>
                    <option value="6"<% if(data.end == 6) { %> selected="selected"<% } %>>July</option>
                    <option value="7"<% if(data.end == 7) { %> selected="selected"<% } %>>August</option>
                    <option value="8"<% if(data.end == 8) { %> selected="selected"<% } %>>September</option>
                    <option value="9"<% if(data.end == 9) { %> selected="selected"<% } %>>October</option>
                    <option value="10"<% if(data.end == 10) { %> selected="selected"<% } %>>November</option>
                    <option value="11"<% if(data.end == 11) { %> selected="selected"<% } %>>December</option>
                </select>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default multi_flat_month_save" data-dismiss="modal">Save</button>
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
                </div>
            </div>
    </div>
</script>

<script type="text/template" id="absolute_date_filter_template">
    <div class="filter <%= Filter.label(data, parent_id, type) %>">

        <%= Filter.base_filter({data: data, parent_id: parent_id, type: type}) %> <input id="<%= Filter.label(data, parent_id, type) %>_date_start" type="text" class="start_date_filter date_filter_input" readonly="readonly" value="<%- data.start %>" />
        <input id="<%= Filter.label(data, parent_id, type) %>_date_end" type="text" class="end_date_filter date_filter_input" readonly="readonly" value="<%- data.end %>" />
    </div>
</script>

<script type="text/template" id="filters_template">
    <div class="filters">
            <% _.each(_.select(filter_values, function(e, i, l) { return e.visible }), function(e, i, l) { %>
            <%= Filter.create(e, typeof(parent_id) == "undefined" ? '' : parent_id, type) %>
            <% }) %>
        </div>
</script>

<script type="text/template" id="dashboard_template">
    <%= email_modal() %>
    <div class="container"><%= Filter.filters({ filter_values: filters, type: "dashboard"}) %></div>
    <div class="container dashboard_base well" style="padding-top:10px">

        <div class="row">
            <div class="col-md-12"><%= dashboardComponent(base) %></div>
        </div>
    </div>
</script>

<script type="text/template" id="gauge_template">
    <div style="text-align:center">
        <canvas class="gauge" width="200" height="200" id="gauge<%= id %>"></canvas>
    </div>
    <% if(benchmark) { %>
    <div class="gaugeBenchmark" id="benchmark<%= id %>"></div>
    <% } %>
</script>

<!-- filter base -->
<script type="text/template" id="filter_base">

    <% if(!data.checkbox) { %>
    <input id="<%= Filter.label(data, parent_id, type) %>_enabled" class="filter_enabled" type="checkbox" <% if(data.enabled) { %>checked="checked" <%}%>/>
    <% } %>
    <% if(typeof(skip_colon) != "undefined" && skip_colon == true) { %>
        <%- data.label.replace(/:$/g,"") %>
    <% } else { %>
        <%- data.label %>
    <% } %>
</script>

    <script type="text/template" id="report_list_template">
        <% _.each(reports, function(e, i, l) { %>
            <li><a class="report-target-link" href="#" data-report-target="<%- e.id %>"><%- e.name %></a></li>
        <% }) %>
    </script>

        <script type="text/template" id="email_modal">
            <div class="modal fade" id="emailReportWindow">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">X</button>
                            <h3>Email Report</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Which format?</label>

                                    <div class="controls">

                                        <label class="radio" for="htmlRadio"><input type="radio" id="htmlRadio" name="emailGroup"
                                                                                    value="4"/> HTML</label>
                                        <label class="radio" for="excelRadio"><input type="radio" id="excelRadio" name="emailGroup"
                                                                                     value="1"/> Excel</label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="input01">Who will this email go to?</label>

                                    <div class="controls">
                                        <input type="text" class="input-xlarge" id="input01">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="input02">What should the subject of the email be?</label>

                                    <div class="controls">
                                        <input type="text" class="input-xlarge" id="input02">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="textarea">Any message to include with the email?</label>

                                    <div class="controls">
                                        <textarea class="input-xlarge" id="textarea" rows="5"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn email-send" data-dismiss="modal">Send</button>
                        </div>
                    </div>
                </div>
            </div>

        </script>
</div>

