<div class="row">
    <div class="col-md-12">
        <h2>{{ schedule.description }}</h2>
    </div>
</div>

<form ng-submit="save_schedule()">
    <div class="row">
        <div class="col-md-4">
            How often should this event happen?
        </div>
        <div class="col-md-8">
            <select ng-model="schedule.schedule_type.type">
                <option value="daily">Daily</option>
                <option value="mfw">Monday/Wednesday/Friday</option>
                <option value="tr">Tuesday/Thursday</option>
                <option value="weekdays">Weekdays</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="never">Never (Disabled)</option>
            </select>
        </div>
    </div>
    <div class="row" ng-if="schedule.schedule_type.type == 'monthly'">
        <div class="col-md-4">Day of Month</div>
        <div class="col-md-8"><input type="number" step="1" min="1" max="31" value="1" /></div>
    </div>
    <div class="row" ng-if="schedule.schedule_type.type == 'weekly'">
        <div class="col-md-4">Day of Week</div>
        <div class="col-md-8">
            <select ng-model="schedule.schedule_type.day">
                <option value="sunday">Sunday</option>
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
            </select>
        </div>
    </div>

    <div class="row" ng-if="schedule.schedule_type.type != 'never'">
        <div class="col-md-4">
            What time of day?
        </div>
        <div class="col-md-8">
            <input type="number" step="1" min="0" max="23" ng-model="schedule.schedule_type.hour" /> : <input type="number" step="1" min="0" max="59" ng-model="schedule.schedule_type.minute" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>