<div class="container-fluid" id="newFooter">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <div class="row">
                <div class="col-md-12 footerHeader">
                    PRODUCT
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/product.html">Overview</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/data.html">Connections</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/pricing.html">Pricing</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/app/newaccount">Free Trial</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-md-12 footerHeader">
                    RESOURCES
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://blog.easy-insight.com/">Blog</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/docs/base">Help</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/api/index.html">Developers</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-md-12 footerHeader">
                    COMPANY
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/contactus.html">Contact Us</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/partners.html">Partners</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/privacy.html">Privacy Policy</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://www.easy-insight.com/terms.html">Terms of Service</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <a href="https://twitter.com/easyinsight"><img src="https://www.easy-insight.com/images/Twitter_Logo_White.png" alt="Twitter Logo"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 copyright">
            Copyright ©2008-2020 Easy Insight, LLC. All rights reserved.
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ssl.google-analytics.com/ga.js"></script>
<script type="text/javascript" src="https://www.easy-insight.com/js/ga.js"></script>