<div class="container websiteTitleCollapsed">
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <img src="/images/logo2.png" alt="Easy Insight Logo"
                 name="logo"/></a>
        </div>
        <div class="col-xs-10 col-md-10">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="collapsedTitle" href="/app/">Customer Login</a></li>
                    <li><a class="collapsedTitle" href="/app/newaccountb/">Free Trial</a></li>
                    <li><a class="collapsedTitle" href="/contactus.html">Contact us</a></li>
                    <li><a class="collapsedTitle" href="/product.html">Product</a></li>
                    <li><a class="collapsedTitle" href="/data.html">Connections</a></li>
                    <li><a class="collapsedTitle" href="/pricing.html">Pricing</a></li>
                    <li><a class="collapsedTitle" href="/screencasts.html">Help</a></li>
                    <li><a class="collapsedTitle" href="https://blog.easy-insight.com/">What's New</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container websiteTitleExpanded">
    <div class="row">
        <div class="col-xs-2 col-md-2 logoDiv">
            <img src="/images/logo.jpg" alt="Easy Insight Logo"
                 name="logo"/></a>
        </div>
        <div class="col-xs-10 col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav navbar-nav navbar-right navbar-button">
                        <li style="margin-top:5px"><a class="freeTrialTopLink" style="padding-top:7px" href="/app/newaccountb/"><button class="btn btn-success">Free Trial</button></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-main-item">
                        <li><a class="fontA" href="/contactus.html">Contact Us</a></li>
                        <li><a href="/app/" class="fontA">Customer Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="row topLinks">
                <div class="col-md-12">
                    <ul class="nav navbar-nav navbar-right navbar-main-item">
                        <li><a class="fontA" href="/product.html">FEATURES</a></li>
                        <li><a class="fontA" href="/data.html">CONNECTIONS</a></li>
                        <li><a class="fontA" href="/pricing.html">PRICING</a></li>
                        <li><a class="fontA" href="/screencasts.html">HELP</a></li>
                        <li><a href="https://blog.easy-insight.com/" class="fontA">WHAT'S NEW</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid screenshotDiv">
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="dragDropDone" style="padding-top:0">What's New with Easy Insight</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="dragDropDone" style="padding-top:0;font-size:16px">Drag. Drop. Done. Business Intelligence Made Easy.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>