<nav class="navbar navbar-static-top navbar-main website-navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand eiBrand" href="//www.easy-insight.com/index.html"><img src="//www.easy-insight.com/images/logo.jpg" alt="Easy Insight Logo"
                                                              name="logo"/></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right navbar-main-item">
        <li><a href="//www.easy-insight.com/app/" class="fontA">Customer Login</a></li>
        <li><a href="//www.easy-insight.com/app/newaccount/" class="fontA">Free Trial</a></li>
        <li><a href="//www.easy-insight.com/app/news/" class="fontA">What's New</a></li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-subheader website-navbar" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-subheader-item">
        <li><a href="//www.easy-insight.com/product.html">Features</a></li>
        <li><a href="//www.easy-insight.com/data.html">Connections</a></li>
        <li><a href="//www.easy-insight.com/pricing.html">Pricing</a></li>
        <li><a href="//www.easy-insight.com/screencasts.html">Help</a></li>
        <li><a href="//www.easy-insight.com/contactus.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid screenshotDiv">
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="dragDropDone" style="padding-top:0">What's New with Easy Insight</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="dragDropDone" style="padding-top:0;font-size:16px">Drag. Drop. Done. Business Intelligence Made Easy.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>