<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="blog" />
  <meta property="og:image" content="https://www.easy-insight.com/images/logo2.png" />
  <meta property="og:site_name" content="Easy Insight" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@easyinsight">
  <meta name="twitter:image" content=https://www.easy-insight.com/images/logo2.png>
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>

  <!-- main includes -->

  <script defer type="text/javascript" src="//www.easy-insight.com/js/modernizr.js"></script>
  <script defer type="text/javascript" src="//www.easy-insight.com/js/jquery_min.js"></script>




  <script defer type="text/javascript" src="//www.easy-insight.com/js/bootstrap_min.js"></script>

  <!-- lightbox -->

  <script defer type="text/javascript" src="//www.easy-insight.com/js/ekko-lightbox.js"></script>

  <link href="//www.easy-insight.com/css/bootstrap-site-min.css" rel="stylesheet">
  <link href="//www.easy-insight.com/css/bootstrap-website.css" rel="stylesheet"/>
  <link href="//www.easy-insight.com/css/blog.css" rel="stylesheet"/>
</head>
