.filterDiv {
    float:left;
    font-size:12px;
    margin-right: 10px;
}

.filterLabel {
    margin-left:5px;
    margin-top:10px;
    margin-right:5px;
}

.filterSelect {
    margin-left:5px;
    margin-top:5px;
    margin-right:5px;
}

.filterCX {
    margin-right:5px;
    margin-top:2px;
}

.orFilterBox {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

#chartpseudotooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(208,208,208,0.5);
    padding: 1px;
    display: none;
}

a.dp-choose-date {
    float: left;
    width: 0;
    height: 16px;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
}

.gaugeBenchmark {
    text-align: center;
}

.dashboardReportHeader {
    text-align: center;
    height: 30px;
    font-size: 16px;
}

.dashboardReportDiv {
    text-align: center;
    font-size: 16px;
}

.argh {
    color: #333333;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #333333;
}