body {
    background-image:url('/images/bgnoise.png');
}

.filterDiv {
    float:left;
    font-size:12px;
    margin-right: 10px;
}

.filterLabel {
    margin-left:5px;
    margin-top:10px;
    margin-right:5px;
}

.filterSelect {
    margin-left:5px;
    margin-top:5px;
    margin-right:5px;
}

.filterCX {
    margin-right:5px;
    margin-top:2px;
}

.reportWell {
    background-color: #ffffff;
    border-style: ridge;
    border-width: 1px;
    border-color: #aaaaaa;
}

.reportBreadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
/*.navbar-inner {*/
  /*background-color: #2c2c2c;*/
  /*background-image: -moz-linear-gradient(top, #333333, #222222);*/
  /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));*/
  /*background-image: -webkit-linear-gradient(top, #333333, #222222);*/
  /*background-image: -o-linear-gradient(top, #333333, #222222);*/
  /*background-image: linear-gradient(to bottom, #333333, #222222);*/
  /*background-repeat: repeat-x;*/
  /*border: 1px solid #2c2c2c;*/
/*}*/

/*.navbar .nav > li > a {*/
  /*padding: 9px 10px 11px;*/
  /*color: #999999;*/
  /*text-shadow: none;*/
/*}*/




/*.navbar .nav > .active > a,*/
/*.navbar .nav > .active > a:hover,*/
/*.navbar .nav > .active > a:focus {*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
    /*background-color: #222222;*/
    /*-webkit-box-shadow: none;*/
       /*-moz-box-shadow: none;*/
            /*box-shadow: none;*/
/*}*/


/*.reportNavBarInner {*/
    /*background-color: #5c5c5c;*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
    /*border-color: #5c5c5c;*/
    /*background-image: -moz-linear-gradient(top, #666666, #555555);*/
    /*background-image: -ms-linear-gradient(top, #666666, #555555);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#555555));*/
    /*background-image: -webkit-linear-gradient(top, #666666, #555555);*/
    /*background-image: -o-linear-gradient(top, #666666, #555555);*/
    /*background-image: linear-gradient(top, #666666, #555555);*/
/*}*/

.orFilterBox {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

#chartpseudotooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(238,238,238,0.9);
    padding: 1px;
    display: none;
}

a.dp-choose-date {
    float: left;
    width: 0;
    height: 16px;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
}

.gaugeBenchmark {
    text-align: center;
}

.dashboardReportHeader {
    text-align: center;
    height: 30px;
    font-size: 16px;
}

.dashboardReportDiv {
    text-align: center;
}

.argh {
    color: #333333;
}

/*.nav-pills > .active > a,*/
/*.nav-pills > .active > a:hover {*/
    /*color: #ffffff;*/
    /*background-color: #333333;*/
/*}*/

/*.navbar .nav > li > a:focus,*/
/*.navbar .nav > li > a:hover {*/
  /*color: #ffffff;*/
/*}*/

#reportTargetReportArea table.jqplot-table-legend {
    width:auto;
    max-width: none;
}

.reportArea {
    overflow:auto;
    padding:10px;
}

a.trendDrillthrough {
    color:inherit;
}

.sortData {
    display: none;
}

.well {
    background-image: none;
    background-color: #F5F5F5;
}

ul.unstyled {
    list-style-type: none;
}