body {
    background-image:url('/images/bgnoise.png');
}

.filterDiv {
    float:left;
    font-size:12px;
    margin-right: 10px;
}

.filterLabel {
    margin-left:5px;
    margin-top:10px;
    margin-right:5px;
}

.filterSelect {
    margin-left:5px;
    margin-top:5px;
    margin-right:5px;
}

.filterCX {
    margin-right:5px;
    margin-top:2px;
}

.reportWell {
    background-color: #ffffff;
    border-style: ridge;
    border-width: 1px;
    border-color: #aaaaaa;
}

.reportBreadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0px;
}

.reportNav {
    margin-bottom: 20px;
    background-color: #494444;
}

.orFilterBox {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

#chartpseudotooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(238,238,238,0.9);
    padding: 1px;
    display: none;
}

a.dp-choose-date {
    float: left;
    width: 0;
    height: 16px;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
}

.gaugeBenchmark {
    text-align: center;
}

.dashboardReportHeader {
    text-align: center;
    height: 30px;
    font-size: 16px;
}

.dashboardReportDiv {
    text-align: center;
}

.argh {
    color: #333333;
}

#reportTargetReportArea table.jqplot-table-legend {
    width:auto;
    max-width: none;
}

.reportArea {
    overflow:auto;
    padding:10px;
}

a.trendDrillthrough {
    color:inherit;
}

.sortData {
    display: none;
}

.well {
    background-image: none;
    background-color: #F5F5F5;
}

ul.unstyled {
    list-style-type: none;
}

.tabbable > .nav-pills {
    box-sizing: content-box;
}

label {
    font-weight: normal;
}

.form-control {
    padding: 6px;
}