body {
    background-image:url('/images/bgnoise.png');
}

.filterDiv {
    float:left;
    font-size:12px;
    margin-right: 10px;
}

.filterLabel {
    margin-left:5px;
    margin-top:10px;
    margin-right:5px;
}

.filterSelect {
    margin-left:5px;
    margin-top:5px;
    margin-right:5px;
}

.filterCX {
    margin-right:5px;
    margin-top:2px;
}

.reportWell {
    background-color: #ffffff;
    border-style: ridge;
    border-width: 1px;
    border-color: #aaaaaa;
}

.reportBreadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0px;
}

.reportNav {
    margin-bottom: 20px;
}

.orFilterBox {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

#chartpseudotooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(238,238,238,0.9);
    padding: 1px;
    display: none;
}

a.dp-choose-date {
    float: left;
    width: 0;
    height: 16px;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
}

.gaugeBenchmark {
    text-align: center;
}

.dashboardReportHeader {
    text-align: center;
    height: 30px;
    font-size: 16px;
}

.dashboardReportDiv {
    text-align: center;
}

.argh {
    color: #333333;
}

#reportTargetReportArea table.jqplot-table-legend {
    width:auto;
    max-width: none;
}

.reportArea {
    overflow:auto;
    padding:10px;
}

a.trendDrillthrough {
    color:inherit;
}

.sortData {
    display: none;
}

.well {
    background-image: none;
    background-color: #F5F5F5;
}

ul.unstyled {
    list-style-type: none;
}

.tabbable > .nav-pills {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

label {
    font-weight: normal;
}

.form-control {
    padding: 6px;
}

.corePageWell {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    border-radius: 5px;
    padding: 10px;
}

.navbar-inverse {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#770000), to(#330000));
    background-image: -webkit-linear-gradient(top, #770000, 0%, #330000, 100%);
    background-image: -moz-linear-gradient(top, #770000 0%, #330000 100%);
    background-image: linear-gradient(to bottom, #770000 0%, #330000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff330000', GradientType=0);
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    font-weight: normal;
    font-size: 16px;
    color: #F2F2F2;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #770000;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}

.contentBoxOverride {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.topControlBtnGroup {
    margin-bottom: 10px;
    margin-right: 20px;
}

.topControlBtnGroup > a {
    font-size: 16px;
}

.topControlToolbar {

}

h2 {
    font-size: 20px;
    font-family: "ProximaNova","Helvetica Neue",helvetica,arial,sans-serif;
    font-weight: normal;
    color: #770000;
}

a {
    color: #1c5c76;
}

.reportControlBtnGroup > a,
.reportControlBtnGroup > a:hover {
}

.reportControlToolbar > a,
.reportControlToolbar > a:hover {
}

.reportControlToolbar {
    margin-top: 7px;
    margin-bottom: 10px;
}

.reportBlah {
    margin-top: 7px;
}

.reportControlBtnGroup {
    margin-right: 20px;
}

.loading {
    font-weight: bold;
}

.loadingText {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        width: 100%;
    }

}

.tag-list {
    padding-bottom: 10px;
}

.browse-by-tag {
    float:left;
    font-weight:500;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 20px;
}

.header-tr {
    font-weight:500;
}

.no-data-sources {
    font-size: 20px;
}

.no-data-sources-container {
    margin-top: 40px;
    margin-bottom: 30px;
}