body {
    background-image:url('/images/bgnoise.png');
}

.filterDiv {
    float:left;
    font-size:12px;
    margin-right: 10px;
}

.filterLabel {
    margin-left:5px;
    margin-top:10px;
    margin-right:5px;
}

.filterSelect {
    margin-left:5px;
    margin-top:5px;
    margin-right:5px;
}

.filterCX {
    margin-right:5px;
    margin-top:2px;
}

.reportWell {
    background-color: #ffffff;
    border-style: ridge;
    border-width: 1px;
    border-color: #aaaaaa;
}

.reportBreadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0px;
}

.reportNav {
    margin-bottom: 20px;
}

.orFilterBox {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

#chartpseudotooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(238,238,238,0.9);
    padding: 1px;
    display: none;
}

a.dp-choose-date {
    float: left;
    width: 0;
    height: 16px;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
}

.gaugeBenchmark {
    text-align: center;
}

.dashboardReportHeader {
    text-align: center;
    height: 30px;
    font-size: 16px;
}

.dashboardReportDiv {
    text-align: center;
}

.argh {
    color: #333333;
}

#reportTargetReportArea table.jqplot-table-legend {
    width:auto;
    max-width: none;
}

svg {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.reportArea {
    overflow:auto;
    padding:10px;
    /*margin:0;*/
}

/*.dashboardReportDiv {
    padding:0;
    margin:0;
}*/

a.trendDrillthrough {
    color:inherit;
}

.sortData {
    display: none;
}

.well {
    background-image: none;
    background-color: #F5F5F5;
}

ul.unstyled {
    list-style-type: none;
}

.tabbable > .nav-pills {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

label {
    font-weight: normal;
}

.form-control {
    padding: 6px;
}

.corePageWell {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    border-radius: 5px;
    padding: 10px;
}

.navbar-inverse {
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#FFFFFF), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #FFFFFF, 0%, #FFFFFF, 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%);
    background-repeat: repeat-x;
}


.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    font-weight: normal;
    font-size: 16px;
    color: #777777;
    padding-top:10px;
    padding-bottom: 10px;
}

.navbar {
    min-height:36px;
    margin-bottom:20px;
    border: 0;
    border-bottom: 4px solid #0084b4;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #333333;
    background-color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}

.navbar-toggle {
    border-color: #333;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #333;
}
.navbar-toggle .icon-bar {
    background-color: #666;
    color:#333;
}

.contentBoxOverride {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.topControlBtnGroup {
    margin-bottom: 10px;
    margin-right: 20px;
}

.topControlBtnGroup > a {
    font-size: 16px;
}

.topControlToolbar {

}

h2 {
    font-size: 20px;
    font-family: "ProximaNova","Helvetica Neue",helvetica,arial,sans-serif;
    font-weight: normal;
    color: #770000;
}

a {
    color: #1c5c76;
}

.reportControlBtnGroup > a,
.reportControlBtnGroup > a:hover {
}

.reportControlToolbar > a,
.reportControlToolbar > a:hover {
}

.reportControlToolbar {
    margin-top: 7px;
    margin-bottom: 10px;
}

.reportBlah {
    margin-top: 7px;
}

.reportControlBtnGroup {
    margin-right: 20px;
}

.loading {
    font-weight: bold;
}

.loadingText {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        width: 100%;
    }

}

.tag-list {
    /*padding-bottom: 10px;*/
}

.tag-select {
    font-size: 14px;
}

.browse-by-tag {
    float:left;
    font-size: 14px;
    font-weight:500;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 20px;
}

.header-tr {
    font-weight:500;
}

.no-data-sources {
    font-size: 20px;
}

.no-data-sources-container {
    margin-top: 40px;
    margin-bottom: 30px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0084b4;
}

.selected_folder a { font-weight: bold; }
.selected_folder {
    background-color: #e2d0d0;
}

.color_swatch {
    display:inline-block;
    height:20px;
    width:20px;
    margin-bottom: -5px;
    border: solid 1px black;
}

.noReports {
    font-size: 16px;
    padding-bottom: 20px;
}

.reportListControl {
    font-size: 18px;
}

.reportListHR {
    padding:0;
    margin: 5px 0;
}

#reportsAndDashboards {
    color: #333333;
    font-size: 18px;
    margin-top:10px;
    margin-bottom: 10px;
}

#folderTable {
    font-size: 12px;
    margin-bottom: 10px;
}

.reportDashboardTable {
    border-color: #1C5C76;
}

.reportDashboardTable > tbody > tr > td {
    border-color: #1C5C76;
}

.reportDashboardTable > thead > tr {
    background-color: #1C5C76;
    color:#FFFFFF;
}

.reportDashboardTable > thead > tr > th {
    border-color: #1C5C76;
}

.droppable_area {
    border: 2px dashed #000000;
    margin: 10px;
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 6px;
}

.droppable_files {
    border-color: #FF0000;
    background-color: #FFEEEE;
}

.disabled_drop {
    border-color: #cccccc !important;
    background-color: #ffffff !important;
}

.active_link {
    text-decoration: underline;
}

.alert-tutorial {
    color: #000000;
    background-color: #e4ef59;
    border-color: #e4ef59;
}
.alert-tutorial hr {
    border-top-color: #f7e1b5;
}
.alert-tutorial .alert-link {
    color: #000000;
}

h2 {
    color: #1C5C76;
}

.deleteSelected {
    padding-bottom: 5px;
}

.tag-value {
    cursor:  pointer;
}

.combineSourcesChoices {
    padding: 10px;
}

.productHeader {
    color: #333333;
    font-size: 24px;
}

.btn-alt-primary {
    color: #fff;
    background-color: #0084B4;
    border-color: #0074A4;
}
.btn-alt-primary:hover,
.btn-alt-primary:focus,
.btn-alt-primary:active,
.btn-alt-primary.active,
.open .dropdown-toggle.btn-alt-primary {
    color: #fff;
    background-color: #005494;
    border-color: #004484;
}
.btn-alt-primary:active,
.btn-alt-primary.active,
.open .dropdown-toggle.btn-alt-primary {
    background-image: none;
}
.btn-alt-primary.disabled,
.btn-alt-primary[disabled],
fieldset[disabled] .btn-alt-primary,
.btn-alt-primary.disabled:hover,
.btn-alt-primary[disabled]:hover,
fieldset[disabled] .btn-alt-primary:hover,
.btn-alt-primary.disabled:focus,
.btn-alt-primary[disabled]:focus,
fieldset[disabled] .btn-alt-primary:focus,
.btn-alt-primary.disabled:active,
.btn-alt-primary[disabled]:active,
fieldset[disabled] .btn-alt-primary:active,
.btn-alt-primary.disabled.active,
.btn-alt-primary[disabled].active,
fieldset[disabled] .btn-alt-primary.active {
    background-color: #0084B4;
    border-color: #0074A4;
}
.btn-alt-primary .badge {
    color: #0084B4;
    background-color: #fff;
}

.two-column-nav-left {
    padding:0;
    background-color:#fcfcfe;
    margin-top:40px;
}

.two-column-nav-h2 {
    font-weight: bold;
    color: #333;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    padding-top: 0;
}

.two-column-nav-action {
    padding-top:3px;
    padding-bottom:3px;
    font-weight:normal;
    font-size: 14px;
}