@charset "utf-8";
/* CSS Document */

body {
	font-family: 'PT Sans',Arial,sans-serif;
	margin:0px;
	padding:0px;
	width:100%;
}

p {
    text-align:left;
}

li {
    text-align:left;
}

pre {
    text-align:left;
}

#moreinfo img {
	height:48px;
	width:48px;
	padding: 3px 6px;
	float:left;
}

.box {
	position:relative;
	margin:0px;
	padding:0px;
}

.box > .top {
	background-position:top right;
	height:13px;
	width:100%;
	padding:0px;
	margin:0px;
}

.box > .top > span {
	position:absolute;
	width:12px;
	height:13px;
	background-position:top left;
	top:0px; 
	padding:0px;
	margin:0px;
	left:-12px;
}

.box > .content {
	background-position:bottom right;
	height:100%;
	width:100%;
}

.box > .content > span {
	position:absolute;
	width:12px;
	height:100%;
	background-position:bottom left;
	top:13px;
	left:-12px;
	padding:0px;
	margin:0px;
}

.greybox > .top {
	background-image:url(../images/greybox.png);
}

.greybox > .top > span {
	background-image:url(../images/greybox.png);
}

.greybox > .content {
	background-image:url(../images/greybox.png);	
}

.greybox > .content > span {
	background-image:url(../images/greybox.png);
}

.whitebox > .top {
	background-image:url(../images/whitebox.png);
}

.whitebox > .top > span {
	background-image:url(../images/whitebox.png);
}

.whitebox > .content {
	background-image:url(../images/whitebox.png);
}

.whitebox > .content > span {
	background-image:url(../images/whitebox.png);
}

.redbox > .top {
	background-image:url(../images/redbox.png);
}

.redbox > .top > span {
	background-image:url(../images/redbox.png);	
}
.redbox > .content {
	background-image:url(../images/redbox.png);
}
.redbox > .content > span {
	background-image:url(../images/redbox.png);
}

#contentHeaderStart {
    background: url(../images/rounded_corner_mid_top.png) 0 100% no-repeat;
    padding-top: 15px;
    margin-left: 8px;
    width: 984px;
    margin-bottom:0;
    padding-bottom: 0;
    height: 5px;
}

#midContent {
    margin-top:0;
    width: 984px;
    background: #FFFFFF url(../images/rounded_corner_mid_gray.png) 50% 0 repeat-y;
    margin-left: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#contentHeaderEnd {
    background: url(../images/rounded_gray_corner.png) 0 100% no-repeat;
    margin-left: 8px;
    width: 984px;
    height: 5px;
    margin-bottom: 15px;
}

#topBar {
    width:100%;
    text-align:left;
    height:70px;
    position:relative;
}

#sideBar {
    height: 470px;
    float: right;
    width: 250px;
    text-align: center;
}

.sideBarHeader {
    font-size:16px;
    font-weight:bold;
}

.sideBarLine {
    font-size:14px;
    font-weight:normal;
}

.customerBar {
    width:100%;
    padding-top:8px;
    text-align:left;
	position:relative;
}

.customerBar > a {
    padding-left:30px;
}

.coreContentHeader {
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
}

.coreContentParagraph {
    color:#FFFFFF;
    font-size:18px;
    font-weight:normal;
    text-align:left;
}

.coreContentBlock {
    float:left;
    padding-top:40px;
    padding-left:20px;
    width:500px;
    color:#FFFFFF;
}

.connectionLinks {
    text-align:left;
    position:relative;
    padding-top:10px;
}

.connectionLinks > a {
    padding-left:40px;
    text-decoration:underline;
    outline:none;
	color:#FFFFFF
}

.connectionLink {
    text-align:left;
    position:relative;
    padding-top:10px;
}

.connectionLink > a {
    padding-left:180px;
    text-decoration:underline;
    outline:none;
	color:#FFFFFF
}

.headline {
	width:100%;
    padding-top:8px;
	text-align:left;
	position:relative;
    height:30px;
    background-color: #848080;
}

.headline > a {
	margin-left:80px;
	text-decoration:none;
    outline:none;
}

.headline > a:visited {
}

.headline > a:hover {
	color:#CC0033;
}

.headline > a:active {
	color:#CC0033;
}

.signupHeadline {
	width:550px;
	height:24px;
	text-align:right;
	position:absolute;
	top:25px;
	right:20px;
    font-size:14px;
    color:#CC0033;
}

.signupHeadline > a {
    padding-left:30px;
	text-decoration:underline;
	color:#CC0033
}

.signupHeadline > a:visited {
	color:#CC0033;
}

#coreContent {
    height: 245px;
    background-color:#444444;
    width: 100%;
    position: relative;
}

#logo {
	padding:7px 60px;
	display:inline;
}

#content {
	background-color:#DDDDDD;
	width:100%;
	text-align:left;
}

p {
	font-size:14px;
	color:#444444;
	margin:2px;
	padding:2px 2px 2px 10px;
	line-height:18px;
}

#frontPageTop {
    font-size:18px;
    color:#FFFFFF;
    font-weight: bold;
}

#frontPageTop a {
    text-decoration: none;
    color:#FFFFFF;
}

p > a {
	color:#CC0033;
}

h2 {
	color:#CC0033;
	font-size:16px;
	margin:2px;
	padding:20px 2px 2px 10px;
	font-weight:normal;
}

a > img {
	border:none;
    outline:none;
}

a {
    outline:none;
}

ul.menuList > li {
	float:left;
    padding-left:120px;
}
ul.menuList > li.first {
	padding-left:25px;
}

.menuList {
	list-style:none;
	width:1000px;
	margin-top:0;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
	height:20px;
	background-color:#595555;
	font-size:13px;
    color:#FFFFFF;
	padding:8px 0 4px 0;
    position:relative;
}

.menuList a {
    text-decoration:none;
    color:#FFFFFF;
    outline:none;
}

#moreinfo p {
	margin:0px;
	height:24px;
	padding:15px 0px;
	color:#000000;
	text-decoration:underline;
	font-size:16px;
	cursor:pointer;
}

#content ul {
	font-size:12px;
	color:#444444;
	margin:2px;
	padding:2px 2px 2px 32px;
	line-height:18px;	
}

#content ol {
	font-size:12px;
	color:#444444;
	margin:2px;
	padding:2px 2px 2px 46px;
	line-height:18px;	
}

h1.headliner {
	color:#CC0033;
	font-size:16px;
	margin:2px;
	padding:20px 2px 2px 10px;
	font-weight:normal;
}

#linkLine {
    margin:0;
    padding:12px 0;
    width:100%;
    text-align:left;
}

#footer {
    font-size:10px;
    text-decoration:none;
    font-weight:bold;
    background-color: #333333;
    color:#FCE9E9;
    margin:0;
    width:100%;
    height:60px;
}

#footer a {
    text-decoration:none;
    color:#FCE9E9;
}

#footer ul > li {
	padding:0px;
	margin:0px;
	text-indent:0px;
	font-size:10px;
	line-height:16px;
}

#footer ul {
	margin:0px;
	padding:0px;
	text-indent:0px;
	list-style:none;
}

#twitter_update_list {
	margin:0px;
	padding:0px;
}

#twitter_update_list > li {
	padding:5px;
}

#twitter_update_list li > a {
	color:#888888;	
}

#twitter_update_list li > a:hover {
	text-decoration:underline;
}

#nextSteps {
	text-align:center;
	padding-bottom:12px;
}

#nextSteps p {
	margin:0px 2px 0px -12px;
	font-size:14px;
}

#nextSteps > span {
	padding-bottom:12px;
}

#nextSteps p a {
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	color:#000000;
}

p.disclaimer {
	font-size:10px;
}

pre {
    background-color: #DDDDDD;
    border-style:solid;
    border-width: 1px;
    border-color: #888888;
    margin: 1em;
}

.active {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #ffffff;
    text-decoration: none;
    padding: 2px 8px;
    color:#444444;
}

.inactive {
    color:#ffffff;
}

.getStartedLink {
    color:#000000;
}