#refreshDiv {
    display: none;
}

#problemHTML {
    display: none;
}

.rolling_filter_type {
    width: 125px;
}

.rolling_filter_direction {
    width: 70px;
}

.rolling_filter_value {
    width: 70px;
}

.filter {
    display: inline-block;
    margin: auto 10px;
    height: 40px;
    /*vertical-align: middle;*/
}

.filters > .filter {
    /*float: left;*/
    vertical-align:middle;
}

.filters select {
    width: auto;
}

.dashboard_grid {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;

}

.dashboard_base {
    background-color: #ffffff;
    text-align: center;
}

.grid_header {
    background-color: #CCCCCC;
    width: 100%;
    padding: 10px 39px 10px 39px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}

.dashboardReportHeader {
    background-color: #CCCCCC;
    width: 100%;
    padding: 4px 0px;
    line-height: normal;
    height: auto;
    font-size: 14px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    cursor: pointer;
}

.clickable_grid {
    cursor: pointer;
}

.filters {
    text-align: left;
    width: 100%;
    vertical-align: baseline;
    font-size: 11px;
    /*min-height: 40px;*/
}

.filters input {
    font-size: 11px;
}

.filters .date_filter_input {
    width: 80px;
    margin: 0px;
}


.filters button {
    font-size: 11px;
}

.dashboard_text {
    text-align: left;
}

.dashboard_text_valign {
    position: relative;
}

.export_table {
    border-collapse: separate !important;
    border-spacing: 1px !important;
}

.inner_dashboard_text {
    position: absolute;
    top: 50%;
    margin-top: -25%;
}

.nav-pills > li {
    float: none;
    width: auto;
    display: inline-block;
}

.nav-pills > li a {
    color: #FFFFFF;
}

.nav-pills > li.active a {
    background-color: #FFFFFF;
    color: #000000;
}

.tabbable {
    position: relative;
}

.nav-pills {
    width: 100%;
}

.dashboard_header {
    margin-bottom: 10px;
}

.dashboard_base > .row > .col-md-12 > .tabbable > .nav-pills {
    padding: 5px 19px 5px 19px;
    margin: -10px -20px 15px -20px;
    border-radius: 4px 4px 0px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #5c5c5c;
}

.hideFilter {
    display: none;
}

a {
    outline: 0;
}

a:focus {
    outline: 0;
}

.adhoc_instructions {
    padding: 20px;
}

nav.navbar_first {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.reportMenu {
    display: none;
    padding-bottom: 20px;
}

.reportMenuBase {
    position: relative;
}

.gridReportMenu {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

.reportArea {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.multi_flat_month {
    padding: 0 12px;
}

.fixed_dashboard_navbar {
    min-height: 30px;
}

.fixed_dashboard_navbar_toggle > li > a {
    padding-top: 3px;
    padding-bottom: 0;
}

.reportControl {
    color: #333333;
}

.reportControlToolbar {

}

.reportControlBtnGroup {
    padding-top: 5px;
    margin-right: 20px;
}