<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="testConnectionOnCheckout">true</property>
        <property name="preferredTestQuery">select 1</property>

        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <mapping class="com.easyinsight.users.User"/>
        <mapping class="com.easyinsight.users.Permission"/>
        <mapping class="com.easyinsight.analysis.AnalysisDefinition"/>
        <mapping class="com.easyinsight.analysis.Tag"/>
        <mapping class="com.easyinsight.analysis.TagCloud"/>
        <mapping class="com.easyinsight.analysis.RangeOption"/>
        <mapping class="com.easyinsight.analysis.FormattingConfiguration"/>
        <mapping class="com.easyinsight.analysis.FilterDefinition"/>
        <mapping class="com.easyinsight.analysis.FilterValueDefinition"/>
        <mapping class="com.easyinsight.analysis.FilterRangeDefinition"/>
        <mapping class="com.easyinsight.analysis.FilterDateRangeDefinition"/>
        <mapping class="com.easyinsight.analysis.FilterPatternDefinition"/>
        <mapping class="com.easyinsight.analysis.RollingFilterDefinition"/>
        <mapping class="com.easyinsight.analysis.FilterDefinitionValue"/>
        <mapping class="com.easyinsight.sequence.Sequence"/>
        <mapping class="com.easyinsight.sequence.DateSequence"/>
        <mapping class="com.easyinsight.analysis.AnalysisItem"/>
        <mapping class="com.easyinsight.analysis.AnalysisDimension"/>
        <mapping class="com.easyinsight.analysis.AnalysisRangeDimension"/>
        <mapping class="com.easyinsight.analysis.AnalysisCoordinate"/>
        <mapping class="com.easyinsight.analysis.AnalysisLongitude"/>
        <mapping class="com.easyinsight.analysis.AnalysisLatitude"/>
        <mapping class="com.easyinsight.analysis.AnalysisMeasure"/>
        <mapping class="com.easyinsight.analysis.AnalysisDateDimension"/>
        <mapping class="com.easyinsight.analysis.AnalysisList"/>
        <mapping class="com.easyinsight.analysis.AnalysisText"/>
        <mapping class="com.easyinsight.analysis.AnalysisZipCode"/>
        <mapping class="com.easyinsight.analysis.AnalysisCalculation"/>
        <mapping class="com.easyinsight.analysis.DerivedAnalysisDimension"/>
        <mapping class="com.easyinsight.analysis.ComplexAnalysisMeasure"/>
        <mapping class="com.easyinsight.analysis.AnalysisHierarchyItem"/>
        <mapping class="com.easyinsight.analysis.Hierarchy"/>
        <mapping class="com.easyinsight.analysis.HierarchyLevel"/>
        <mapping class="com.easyinsight.analysis.UserToAnalysisBinding"/>
        <mapping class="com.easyinsight.analysis.LimitsMetadata"/>
        <mapping class="com.easyinsight.analysis.ListLimitsMetadata"/>
        <mapping class="com.easyinsight.analysis.ListDefinitionState"/>
        <mapping class="com.easyinsight.analysis.ChartDefinitionState"/>
        <mapping class="com.easyinsight.analysis.TimelineDefinitionState"/>
        <mapping class="com.easyinsight.analysis.GanttChartDefinitionState"/>
        <mapping class="com.easyinsight.analysis.AnalysisDefinitionState"/>
        <mapping class="com.easyinsight.analysis.MapDefinitionState"/>
        <mapping class="com.easyinsight.analysis.CrosstabDefinitionState"/>
        <mapping class="com.easyinsight.analysis.HeatMapDefinitionState"/>
        <mapping class="com.easyinsight.analysis.FormDefinitionState"/>
        <mapping class="com.easyinsight.analysis.gauge.GaugeDefinitionState"/>
        <mapping class="com.easyinsight.analysis.TreeMapDefinitionState"/>
        <mapping class="com.easyinsight.analysis.TreeDefinitionState"/>
        <mapping class="com.easyinsight.analysis.SixSigmaMeasure"/>
        <mapping class="com.easyinsight.analysis.AnalysisStep"/>
        <mapping class="com.easyinsight.analysis.LastValueFilter"/>
        <mapping class="com.easyinsight.analysis.FirstValueFilter"/>
        <mapping class="com.easyinsight.analysis.NullFilter"/>
        <mapping class="com.easyinsight.analysis.OrderedFilterDefinition"/>
        <mapping class="com.easyinsight.analysis.Link"/>
        <mapping class="com.easyinsight.analysis.URLLink"/>
        <mapping class="com.easyinsight.analysis.DrillThrough"/>              
        <mapping class="com.easyinsight.analysis.ReportProperty"/>
        <mapping class="com.easyinsight.analysis.ReportStringProperty"/>
        <mapping class="com.easyinsight.analysis.ReportNumericProperty"/>              
        <mapping class="com.easyinsight.analysis.ReportBooleanProperty"/>              

        <mapping class="com.easyinsight.scrubbing.DataScrub"/>
        <mapping class="com.easyinsight.scrubbing.TextReplaceScrub"/>

        <mapping class="com.easyinsight.scheduler.TaskGenerator"/>
        <mapping class="com.easyinsight.scheduler.DataSourceTaskGenerator"/>
        <mapping class="com.easyinsight.scheduler.ScheduledTask"/>
        <mapping class="com.easyinsight.scheduler.DataSourceScheduledTask"/>
        <mapping class="com.easyinsight.scheduler.ServerRefreshScheduledTask" />
        <mapping class="com.easyinsight.scheduler.FileProcessCreateScheduledTask" />
        <mapping class="com.easyinsight.scheduler.FileProcessUpdateScheduledTask" />
        <mapping class="com.easyinsight.export.DeliveryTaskGenerator" />
        <mapping class="com.easyinsight.export.DeliveryScheduledTask" />
        <mapping class="com.easyinsight.users.AccountTimeTask"/>
        <mapping class="com.easyinsight.users.AccountTimeScheduler"/>
        <mapping class="com.easyinsight.users.AccountBillingTask"/>
        <mapping class="com.easyinsight.users.Scenario"/>
        <mapping class="com.easyinsight.database.VolumeSnapshotTask"/>
        <mapping class="com.easyinsight.database.DatabaseVolumeScheduler"/>
        <mapping class="com.easyinsight.billing.BillingTaskGenerator" />
        <mapping class="com.easyinsight.billing.BillingScheduledTask" />

        <mapping class="com.easyinsight.core.PersistableValue"/>
        <mapping class="com.easyinsight.core.PersistableStringValue"/>
        <mapping class="com.easyinsight.core.PersistableDateValue"/>
        <mapping class="com.easyinsight.core.PersistableEmptyValue"/>
        <mapping class="com.easyinsight.core.PersistableNumericValue"/>

        <mapping class="com.easyinsight.conditions.MeasureConditionRange"/>
        <mapping class="com.easyinsight.conditions.MeasureCondition"/>

        <mapping class="com.easyinsight.core.Key"/>
        <mapping class="com.easyinsight.core.NamedKey"/>
        <mapping class="com.easyinsight.core.DerivedKey"/>
        <mapping class="com.easyinsight.users.Account"/>
        <mapping class="com.easyinsight.users.BandwidthUsage" />
        <mapping class="com.easyinsight.users.AccountCreditCardBillingInfo" />

        <mapping class="com.easyinsight.outboundnotifications.TodoBase" />
        <mapping class="com.easyinsight.outboundnotifications.ConfigureDataFeedTodo" />
        <mapping class="com.easyinsight.outboundnotifications.BuyOurStuffTodo" />

        <mapping class="com.easyinsight.notifications.NotificationBase" />
        <mapping class="com.easyinsight.notifications.UserNotification" />
        <mapping class="com.easyinsight.notifications.GroupNotification" />
        <mapping class="com.easyinsight.notifications.UserToGroupNotification" />
        <mapping class="com.easyinsight.notifications.DataSourceToGroupNotification" />
        <mapping class="com.easyinsight.notifications.ReportToGroupNotification" />
        <mapping class="com.easyinsight.notifications.GroupCommentNotification" />
        <mapping class="com.easyinsight.notifications.UserToDataSourceNotification" />
        <mapping class="com.easyinsight.notifications.UserToReportNotification" />
    </session-factory>

</hibernate-configuration>
