ApplicationControlBar {
   highlightAlphas: 0, 1;
   fillAlphas: 1, 1;
   fillColors: #dedede, #ffffff;
   fontSize: 13;
   paddingLeft: 0;
   paddingRight: 0;
   paddingBottom: 0;
}

Application {
	fontFamily: "Lucida Grande";
	color: #000000;
    background-color: #ffffff;
    background-alpha: 1;
	fontSize: 12;
    fillColors: #ffffff, #ffffff;
}

@font-face {
    src: url("/com/easyinsight/skin/osx/opensans.swf");
    fontFamily: "Open Sans";
}

@font-face {
    src: url("/com/easyinsight/skin/osx/opensansbold.swf");
    fontFamily: "Open Sans Bold";
    fontWeight: "bold";
}

.myFontStyle {
    font-grid-fit-type: 'subpixel';
    font-family: 'Open Sans';
    font-sharpness: -221;
    font-thickness: 4;
}

.boldStyle {
    font-grid-fit-type: 'subpixel';
    font-family: 'Open Sans Bold';
    font-sharpness: -221;
    font-thickness: 4;
}

@font-face {
    src: url("/com/easyinsight/skin/osx/helvetica.swf");
    fontFamily: "Helvetica Neue";
}

.helveticaStyle {
    font-grid-fit-type: 'subpixel';
    font-family: 'Helvetica Neue';
    font-sharpness: -16;
    font-thickness: 20;
}

Form {
    paddingLeft: 0;
    paddingRight: 0;
    paddingTop: 0;
    paddingBottom: 0;
}

FormItem {
    fontFamily: "Tahoma";
    fontWeight: bold;
}

MenuBar { 
   backgroundAlpha: .9;
   backgroundColor: #ffffff;
   borderColor: #ffffff;
   rollOverColor: #3370ce;
   selectionColor: #3370ce;
   color: #000000;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   disabledColor: #8e8e8e;
   borderThickness: 0;
   borderStyle: none;
   dropShadow: true;
}


TitleWindow {
	backgroundAlpha: 1; 
	backgroundColor: #DCE2F8;
	borderThicknessLeft: 0; 
	borderThicknessBottom: 0; 
	borderThicknessRight: 0;
	borderThicknessTop: 0;
	paddingLeft: 0;
	paddingTop: 0;
	paddingRight: 0;
	paddingBottom: 0;
}

Alert {
    backgroundColor: #FFFFFF;
    color: #000000;
}

Panel {
   cornerRadius: 8;
   headerHeight: 22;
   shadowDistance: 3;
   borderThickness: 1;
   borderAlpha: 1;
   borderStyle: solid;
   borderColor: #c0c0c0;
   backgroundAlpha: 0.25;
   highlightAlpas: 0.3,0;
   headerColors: #f9f9f9, #cacaca;
   titleStyleName: "panelTitle";
   panelBorderStyle: default;
   paddingTop: 5;
   paddingBottom: 5;
   paddingRight: 5;
   paddingLeft: 5;
   }

.panelTitle {
	color: #000000;
	textAlign: center;
	fontWeight: normal;
}

.TitleWindowContents {
	backgroundAlpha: 1;
    backgroundColor: #DCE2F8;
	paddingLeft: 10;
	paddingTop: 10;
	paddingRight: 10;
	paddingBottom: 10;
}

TextInput {
    fontFamily: "Lucida Grande";
    fontWeight: normal;
	fontSize: 11;
	backgroundColor: #FFFFFF;
}

TextArea {
    fontFamily: "Lucida Grande";
    fontWeight: normal;
	fontSize: 11;
	backgroundColor: #FFFFFF;
    borderStyle: none
}

Button {
    fontFamily: "Lucida Grande";
    fontWeight: normal;
   cornerRadius: 10;
    highlightAlphas: 1, 0.32;
  fillAlphas: 1, 1, 1, 1;
   fillColors: #cccccc, #ffffff, #cccccc, #ffffff;
   borderColor: #999999;
   dropShadow: true;
   shadowDistance: 1;
   fontSize: 11;
   fontWeight: normal;
}

.toggleButton {
    fillColors: #555555, #ffffff, #555555, #ffffff;
}

ToggleButtonBar {
   buttonStyleName: toggleButton;
}

.blueButton { 
   cornerRadius: 12;
   highlightAlphas: 0.79, 0.2;
   fillColors: #195eb9, #adf8ff, #195eb9, #adf8ff;
   fillAlphas: 1, 1, 1, 1;
   borderColor: #999999;
   dropShadow: true;
   shadowDistance: 1;
   fontSize: 11;
   fontWeight: normal;
}

.grayButton {
    cornerRadius: 5;
    highlightAlphas: 0.5, 0.1;
    fillColors: #333333, #333333, #333333, #333333;
    fillAlphas: 1, 1, 1, 1;
    color: #ffffff;
    textRollOverColor: #dddddd;
    textSelectedColor: #dddddd;
    borderColor: #333333;
    dropShadow: true;
    shadowDistance: 3;
    fontSize: 11;
    fontWeight: normal;
}

.altGrayButton {
    cornerRadius: 5;
    highlightAlphas: 0.2, 0.1;
    fillColors: #333333, #333333, #333333, #333333;
    fillAlphas: 1, 1, 1, 1;
    color: #ffffff;
    textRollOverColor: #dddddd;
    textSelectedColor: #dddddd;
    borderColor: #333333;
    dropShadow: true;
    shadowDistance: 3;
    fontSize: 14;
    fontWeight: normal;
}

.topGrayButton {
    cornerRadius: 0;
    backgroundAlpha: 0;
    highlightAlphas: 0, 0;
    fillColors: #770000, #440000;
    fillAlphas: 1, 1;
    color: #ffffff;
    textRollOverColor: #dddddd;
    textSelectedColor: #dddddd;
    borderColor: #333333;
    borderThickness: 0;
    borderStyle: none;
    fontSize: 14;
    fontWeight: normal;
}

.headerSelected {
    color: #ffffff;
    fillAlphas: 1, 1, 1, 1;
}

.lightGrayButton {
    cornerRadius: 5;
    highlightAlphas: 0.5, 0.1;
    fillColors: #353333, #353333, #353333, #353333;
    fillAlphas: 1, 1, 1, 1;
    color: #ffffff;
    textRollOverColor: #dfdddd;
    textSelectedColor: #dfdddd;
    borderColor: #353333;
    dropShadow: true;
    shadowDistance: 3;
    fontSize: 11;
    fontWeight: normal;
}

.grayButton2 {
    cornerRadius: 5;
    highlightAlphas: 0.3, 0.3;
    fillColors: #008033, #008033, #008033, #008033;
    fillAlphas: 1, 1, 1, 1;
    color: #fff3f3;
    textRollOverColor: #dddddd;
    textSelectedColor: #dddddd;
    borderColor: #008033;
    dropShadow: true;
    shadowDistance: 3;
    fontSize: 11;
    fontWeight: normal;
}

SaveButton {
    cornerRadius: 5;
    highlightAlphas: 0.5, 0.1;
    fillColors: #333333, #333333, #333333, #333333;
    fillAlphas: 1, 1, 1, 1;
    color: #ffffff;
    textRollOverColor: #dddddd;
    textSelectedColor: #dddddd;
    borderColor: #333333;
    dropShadow: true;
    shadowDistance: 3;
    fontSize: 14;
    fontWeight: normal;
}

CancelButton {
    textDecoration: underline;
    fontSize:14;
}

.redButton { 
   cornerRadius: 12;
   highlightAlphas: 0.79, 0.2;
   fillColors: #b91919, #ffadad, #b91919, #ffadad;
   fillAlphas: 1, 1, 1, 1;
   borderColor: #999999;
   dropShadow: true;
   shadowDistance: 1;
   fontSize: 11;
   fontWeight: normal;
}

NumericStepper { 
   cornerRadius: 7;
   highlightAlphas: 0.6, 1;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #cccccc, #ffffff, #cccccc, #ffffff;
   borderColor: #999999;
   fontSize: 11;
   fontWeight: normal;
}

CheckBox {
   borderColor: #999999;
   highlightAlphas: 1, 0.23;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #aaaaaa, #ffffff, #cccccc, #ffffff;
   fontSize: 11;
   fontWeight: normal;
   textRollOverColor: #000000;
   color: #000000;
   textSelectedColor: #000000;
}

RadioButton {
   borderColor: #999999;
   highlightAlphas: 1, 0.23;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #aaaaaa, #ffffff, #cccccc, #ffffff;
   fontSize: 11;
   fontWeight: normal;
   textRollOverColor: #000000;
   color: #000000;
   textSelectedColor: #000000;
}



ComboBox {
   backgroundAlpha: .85;
   color: #000000;
   borderColor: #999999;
   cornerRadius: 17;
   highlightAlphas: 1, 0.32;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #cccccc, #ffffff, #cccccc, #ffffff;
   selectionColor: #ffffff;
   textSelectedColor: #000000;
   rollOverColor: #3370ce;
   textRollOverColor: #ffffff;
   themeColor: #3370ce;
   fontFamily: "Lucida Grande";
   fontWeight: normal;
   fontSize: 11;
}

HSlider {
   labelOffset: 33;
   tickLength: 6;
   tickOffset: 13;
   tickColor: #5c5c5c;
   trackHighlight: false;
   borderColor: #ffffff;
   trackColors: #666666, #cccccc;
   themeColor: #3370ce;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #195eb9, #adf8ff, #ffffff, #eeeeee;
}


TabNavigator {
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom: 10;
	paddingLeft: 10;
	fontSize: 12;
	 tabHeight: 20;
   cornerRadius: 0;
   horizontalGap: 0;
   paddingLeft: 0;
   borderStyle: solid;
   borderColor: #757575;
   backgroundAlpha: .2;
   selectedTabTextStyleName: "selectedTab";
}

.selectedTab {
   fontSize: 12;
   fontWeight: normal;
   color: #000000;
   backgroundAlpha: 1;
}

Tab {
   cornerRadius: 6;
   highlightAlphas: 1, 0.32;
   fillAlphas: 1, 1;
   fillColors: #cccccc, #ffffff;   backgroundColor: #ffffff;
   borderColor: #666666;
   color: #000000;
   textRollOverColor: #000000;
   themeColor: #3370ce;
   fontSize: 12;
   fontWeight: normal;
}


List {
	 borderColor: #8e8e8e;
	 backgroundColor: #FFFFFF;
	 color: #000000;
	 textSelectedColor: #000000;
	 selectionColor: #6699CC;
	 useRollOver: false;
	 selectionDuration: 10;
}

DataGrid {
   alternatingRowColors: #ffffff, #ffffff;
   headerColors: #efefef, #ffffff;
   vGridLines: true;
   vGridLineColor: #cccccc;
   useRollOver: false;
   selectionColor: #3370ce;
   color: #000000;
   textSelectedColor: #ffffff;
   fontSize: 10;
   themeColor: #3370ce;
}

VScrollBar {
	cornerRadius: 15;
   highlightAlphas: 0.79, 0.2;
   fillColors: #195eb9, #adf8ff, #195eb9, #adf8ff;
   fillAlphas: 1, 1, 1, 1;
   borderColor: #999999;
   trackColors: #c0c0c0, #FFFFFF;
}

HScrollBar {
	cornerRadius: 15;
   highlightAlphas: 0.79, 0.2;
   fillColors: #195eb9, #adf8ff, #195eb9, #adf8ff;
   fillAlphas: 1, 1, 1, 1;
   borderColor: #999999;
   trackColors: #c0c0c0, #FFFFFF;
}

DateChooser {
	cornerRadius: 15;
   highlightAlphas: 0.79, 0.2;
   fillColors: #195eb9, #adf8ff, #195eb9, #adf8ff;
   fillAlphas: 1, 1, 1, 1;
   borderColor: #999999;
   todayColor: #3370ce;
   headerColors: #f9f9f9, #cacaca;
   dropShadow: true;
}

.WhiteHeader {
    color: #FFFFFF;
}

.BlueHeader {
    fontWeight: bold;
    fontSize: 13;
    fontFamily: Tahoma;
    color: #323232;
}

.CustomPopupMenu {
	rollOverColor: #3370ce;
	selectedColor: #3370ce;
	textRollOverColor: #ffffff;
    textSelectedColor: #ffffff;
    useRollOver: true;
    textAlign: left;
    color: #000000;
    backgroundColor: #ffffff;
    fontSize: 12;    
}

EISlimWindow {
    cornerRadius: 10;
    borderColor: #DDDDDD;
    dropShadowEnabled: true;
    borderStyle: solid;
    backgroundColor: #FFFFFF;
    horizontalAlign: center;
    paddingBottom: 10;
    paddingLeft: 10;
    paddingRight: 10;
    paddingTop: 10;
}

.errorTip {
    fontSize: 12;
}

.connectionDetailCanvas {
    backgroundColor: #FFFFFF;
    paddingBottom: 20;
    paddingLeft: 20;
    paddingTop: 20;
    paddingRight: 20;
    horizontalAlign: center;
}

.bannerBackground {
    horizontalAlign:center;
    backgroundColor:#848080;
    paddingTop:5;
    paddingBottom:5;
}

.bannerText {
    fontSize:20;
    fontFamily:Tahoma;
    fontWeight:bold;
    color:#FFFFFF;
}

.basePageVBox {
    verticalGap: 10;
    paddingTop: 10;
    horizontalAlign: center;
}

.topButtonBar {
    paddingTop: 5;
    paddingBottom: 5;
    paddingLeft: 10;
    paddingRight: 10;
    backgroundAlpha: 1;
    backgroundColor: #000000;
}

.screenBackground {
    backgroundColor: #F8F8F8;
    backgroundAlpha: 1;
}

TransformContainer {
    paddingLeft: 10;
    paddingTop: 10;
    paddingBottom: 10;
    paddingRight: 10;
}

.descriptionContainer {
    paddingLeft: 20;
    paddingBottom: 10;
    paddingRight: 20;
}

.screenContent {
    paddingLeft: 10;
    paddingRight: 10;
    borderStyle: solid;
    borderThickness: 1;
    cornerRadius: 8;
    dropShadowEnabled: true;
    backgroundColor: #FFFFFF;
    backgroundAlpha: 1;
}

.gradientBackgroundX {
    border-skin: ClassReference("com.easyinsight.util.GradientBackground");
    fillColors: #770000, #440000;
}

.dashboardStackGradientBackground {
    border-skin: ClassReference("com.easyinsight.util.DashboardGradientBackground");
    fillColors: #848080, #545050;
    cornerRadius: 8;
    bottomCornerRadius: 0;
}

.dashboardStackGradientBackground2 {
    border-skin: ClassReference("com.easyinsight.util.DashboardGradientBackground2");
    fillColors: #494444, #343030;
    cornerRadius: 8;
    bottomCornerRadius: 0;
}

.topDashboardButton {
      cornerRadius: 0;
      backgroundAlpha: 0;
      highlightAlphas: 0, 0;
      fillColors: #848080, #545050;
      fillAlphas: 1, 1;
      color: #ffffff;
      textRollOverColor: #dddddd;
      textSelectedColor: #dddddd;
      borderColor: #333333;
      borderThickness: 0;
      borderStyle: none;
      fontSize: 14;
      fontWeight: normal;
}

.normalButton {
    backgroundAlpha: 0;
    highlightAlphas: 0, 0;
    fillAlphas: 0, 0;
    color: #ffffff;
    borderColor: #848080;
    dropShadow: false;
}

.topDashboardButton2 {
    cornerRadius: 0;
    backgroundAlpha: 0;
    highlightAlphas: 0, 0;
    fillColors: #494444, #343030;
    fillAlphas: 1, 1;
    color: #ffffff;
    textRollOverColor: #dddddd;
    textSelectedColor: #dddddd;
    borderColor: #333333;
    borderThickness: 0;
    borderStyle: none;
    fontSize: 14;
    fontWeight: normal;
}

.chartAxis {
    fontColor: #101010;
    font-family: 'Open Sans Bold';
    font-sharpness: -221;
    font-thickness: 4;
    fontWeight: bold;
}