html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #b0b0b0;
    background-repeat: repeat-y;
    background-position: top center;
    color: #333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; /*Georgia, "Times New Roman", Times, serif;*/
    font-size: 14px;
    font-weight: normal;
    line-height: 130%;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h1 {
    font-size: 24px;
}
h2 {
    color: #ff6702;
    font-size: 20px;
}
h3 {
    color: black;
    font-size: 18px;
}
h4 {
    color: black;
    font-size: 18px;
}
a:link, a:visited {
    color: #818285;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.active {
    color: white;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    background: transparent;
    text-decoration: none;
}
h1 a:hover, h3 a:hover, h4 a:hover {
    color: black;
}
h2 a:hover {
    color: #ff6702;
}
p {
    line-height: 140%;
}
.perex {
    line-height: 145%;
}

div.clear {
    clear: both;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    padding: 0;
}

#screencasts {
    width: 100%;
    height: 100px;
    background-color: #eeeeee;
}

#footer {
    width: 100%;
    background-color: #888888;
    color: #ffffff;
}

#footer a:link, #footer a:visited, #footer a:hover {
    color: #ffffff;
}

#navigationElements {
    float: right;
    margin: 0;
    background: #EEEEEE;
    overflow: visible;
    padding: 0;
    width: 650px;
}

#allPage {
    background: white;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    text-align: left;
    width: 1000px;
}

body > #allPage {
    height: auto;
    overflow: hidden;
}

#header {
    background: #EEEEEE;
    height: 80px;
}

#topLinks {
    height: 40px;
    margin-top: 5px;
    overflow: visible;
    padding: 0;
}

#topLinks a:link, #topLinks a:visited {
    color: #D42525;
}
#topLinks a:hover {
    color: #D42525;
}