.Cell {
    backgroundColor: #FFFFFF;
}

.Header {
    fontSize: 16;
    color: #cc0033;
}

.Blah {
    color: #786e78;
}

.PageContent {
    fontSize: 12;
    borderStyle: none;
    borderThickness: 0;
    backgroundAlpha: 0;
    color: #444444;
}

.HeaderLink {
    fontSize: 14;
    fontFamily: Tahoma;
    fontWeight: bold;
    color: #444444;
}

.SubHeaderLink {
    fontSize: 12;
    fontFamily: Tahoma;
    fontWeight: bold;
    color: #444444;
}

.redButton {
   cornerRadius: 12;
   highlightAlphas: 0.79, 0.2;
   fillColors: #b91919, #ffadad, #b91919, #ffadad;
   fillAlphas: 1, 1, 1, 1;
   borderColor: #999999;
   dropShadow: true;
   shadowDistance: 1;
   fontFamily: Tahoma;
   fontSize: 12;
   fontWeight: bold;
}