@charset "utf-8";
/* CSS Document */

.startexploringButton {
	display:inline-block;
	width:124px;
	height:24px;
	background-image:url(images/buttons.png);
	background-position:-249px 0px;
}

.startexploringButton:hover {
	background-position:-249px -24px;
}

.startexploringButton:active {
	background-position:-249px -48px;
}

.solutions {
	list-style-type:none;
	width:100%;
	display:block;
}

.solutions > li {
	width:33%;
	float:left;
	height:20px;
}

#dataPage {
	color:#CC0033;
}